{% extends "layout.html" %}
{% block content %}
    <!--Header-->
    <section id="home" class="header_carbon">
          <div class="container">
            <div>
              <h1><span class="text-warning"> Transport Carbon Emissions Calculator App</span></h1>
                <strong>Carbon emissions</strong> constitute the 60% of the ecological footprint, and are one of the
                main contributors to climate change.
                </br>
                </br>
                <strong>Transport carbon emissions</strong> are an important share of carbon emissions. During the course ENE425 Sustainable Energy
                and App Development at the Norwegian School of Economics, we design a <strong>methodology</strong> to
                compute transport carbon emissions, and we develop an <strong>App</strong> to track those emissions.
                </br>
                </br>
                In this web page, I describe that methodology, I deploy an app calculator where any person can work out transport her carbon emissions.
                I provide a link to the code of the App in my Github account. I also provide the methodoly to work out those emissions.
                Finally, I introduce a <strong>short bio</strong> and a link to my <strong>curriculum</strong>.
                <div class="container_buttons_links_header_carbon">
                   <div class="btn">
                       <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Github</a>
                   </div>
                   <div class="btn">
                       <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Methodology</a>
                   </div>
                   <div class="btn">
                       <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">App</a>
                   </div>
                </div>
            </div>
            <img src="static/pictures/icon_app.svg"  alt=""/>
          </div>
    </section>

  <!--Developer-->
  <section id="developer">
        <div class="container">
            <div class="developer">
                <div class="box">

                </div>
                <div class="box">
                    <h3 class="text-center", style="color=#343a40;">Developer</h3>
                    <p class="color=#343a40">The developer of this app is a master student at Kiel University with the major Economics
                        currently on exchange at NHH.
                    </p>

                    <div class="card-body text-center">
                        <img src="static/pictures/IMG_4448.jpg"
                             class="rounded-circle w-50 mb-3"
                             alt="", style="max-width: 180px; max-height: 180px"
                        />
                        <h5 class="card-title mb-3">Rebecca Zurek</h5>
                        <p class="card-text">Rebecca studies Economics and finance on a master level and is especially
                            interested in sustainablility topics. In the summer semester she attented the course "Sustainable
                            Energy" in which she developed together with other students a methodology to measure carbon emissions
                            by conveyance and applied it in this app.
                        </p>
                        </br>
                        <div class="container_buttons_developer">
                           <div class="btn">
                               <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Curriculum</a>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="box">

                </div>
            </div>
        </div>
  </section>

{% endblock content %}